@font-face {
  font-family: 'Noe Display';
  src: url('~fonts/NoeDisplay-Bold.woff2') format('font-woff2'),
    url('~fonts/NoeDisplay-Bold.woff') format('font-woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Northwell';
  src: url('~fonts/Northwell.woff2') format('font-woff2'),
    url('~fonts/Northwell.woff') format('font-woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('~fonts/Poppins-Regular.woff2') format('font-woff2'),
    url('~fonts/Poppins-Regular.woff') format('font-woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('~fonts/SofiaPro-Regular.woff2') format('font-woff2'),
    url('~fonts/SofiaPro-Regular.woff') format('font-woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
