.page-link {
  position: relative;

  display: inline-block;
  padding: 1rem;

  @include font($size: 1rem);
  text-decoration: none;
  white-space: nowrap;

  &::after {
    content: "";
    position: absolute;
    top: 80%;
    left: 10px;

    height: 2px;
    width: calc(100% - 20px);

    background-color: $white;
    transition: transform .4s ease-out;
  }

  &:hover::after {
    transform: scale(0);
  }
}
