.main-nav {
  @include media-tablet {
    flex-basis: 66%;
  }
}

.main-nav--opened {
  & .main-nav__toggle::before {
    top: 45%;
    transform: rotate(45deg);
  }

  & .main-nav__toggle::after {
    top: 45%;
    transform: rotate(-45deg);
  }

  .main-nav__inner {
    @include media-mobile-only {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      opacity: 1;
    }
  }
}

.main-nav__toggle {
  display: none;

  @include media-mobile-only {
    position: relative;

    display: block;
    width: 2.5rem;
    height: 2.5rem;
    transition: transform .3s ease-out;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: $white;
      transition: all .3s ease-out;
    }

    &::before {
      top: 35%;
    }

    &::after {
      top: 60%;
    }
  }
}

.main-nav__inner {
  @include media-mobile-only {
    position: fixed;
    left: 0;
    align-items: center;

    display: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    text-align: center;
    background-color: $gray-light;
    opacity: 0;

    transition: all .3s ease-out;
  }

  @include media-tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-nav__list {
  @include reset-list;

  display: flex;

  &._active {
    @include media-mobile-only {
      flex-direction: column;
      justify-content: center;
      flex-grow: 0.5;

      @for $i from 1 to 4 {
        li:nth-of-type(#{$i}) {
          animation: show .5s .01s + $i/8 forwards;
        }
      }
    }
  }
}

.main-nav__item {
  @include media-mobile-only {
    opacity: 0;
    transform: matrix(1.5, 0, 0, 1, 0, 20);
  }
}

.main-nav__link {
  position: relative;

  display: inline-block;
  padding: 1rem;

  font-size: 1.82rem;
  text-decoration: none;
  white-space: nowrap;
  color: $white;

  &::after {
    content: "";
    position: absolute;
    top: 70%;
    left: 15px;

    height: 1px;
    width: calc(100% - 30px);

    background-color: $white;
    transform: scale(0);

    transition: transform .4s ease-out;
  }

  &:hover::after {
    transform: scale(1);
  }

  @include media-tablet {
    font-size: 0.9rem;
  }
}

.main-nav__book-link {
  position: relative;
  padding: 1rem;

  @include font($size: 0.9rem, $weight: bold);
  text-decoration: none;
  white-space: nowrap;
  color: $white;

  &::after {
    content: "";
    position: absolute;
    top: 70%;
    left: 10px;

    height: 2px;
    width: calc(100% - 20px);

    background-color: $danger;
    transition: transform .4s ease-out;
  }

  &:hover::after {
    transform: scale(0);
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: matrix(1.5, 0, 0, 1, 0, 20);
  }

  100% {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
