.feature {
  display: flex;
  flex-direction: column;

  padding: 7rem 1rem 2rem 1rem;

  background-color: $gray-light;

  @include media-tablet {
    position: relative;

    flex-direction: row;
    justify-content: space-between;

    padding: 10rem 3rem 2rem 3rem;
  }
}

.feature__box {
  height: auto;
  width: 60vw;

  margin-left: -1rem;
  overflow: hidden;

  &._active {
    .feature__layer {
      transform: scale(1);
    }
  }

  @include media-tablet {
    flex-basis: 40%;
    height: 46vw;
    width: auto;

    margin-left: -3rem;
  }

  @include media-desktop {
    z-index: 1;

    transform: translateY(4rem);
  }
}

.feature__layer {
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;

  transform: scale(2);
  transition: transform 1s ease-out;
}

.feature__desc {
  display: flex;
  flex-direction: column;

  z-index: 2;

  &._active {
    .feature__title {
      opacity: 1;
      transform: translate(0px, 0px);
    }

    .feature__link {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }

  @include media-mobile-only {
    transform: translateY(-10%);
  }

  @include media-tablet {
    flex-basis: 60%;
    padding-top: 2rem;
  }

  @include media-desktop {
    justify-content: flex-end;
    padding-top: 0;
  }
}

.feature__title {
  color: $white;

  opacity: 0;
  transform: translate(0px, 100%);
  transition: transform 1.1s ease-out, opacity 1s ease-out;

  & .red-cursive {
    transform: translateY(0px) rotate(-16deg);
  }

  @include media-tablet {
    margin-left: -5rem;
  }
}

.feature__text {
  font-family: $font-family--sofia;
  @include font($size: 0.75rem, $height: 1.5);
  color: $gray-middle;

  opacity: 0;
  transform: translate(0px, 50%);
  transition: transform 0.7s ease-out, opacity 0.1s ease-out;

  &._active {
    opacity: 1;
    transform: translate(0px, 0px);
  }

  @include media-tablet {
    width: 50%;

    font-size: 1.2rem;
  }
}

.feature__link {
  align-self: center;
  color: $white;

  opacity: 0;
  transform: translate(0px, 100%);
  transition: transform 1.1s ease-out, opacity 1s ease-out;

  @include media-tablet {
    align-self: flex-start;
  }
}

.feature__inner {
  margin: 0 -1rem;
  transform: translateY(25%);

  @include media-tablet {
    position: absolute;
    top: 60%;
    right: 0;
    z-index: 1;

    width: 30%;
    height: 50%;
    margin: 0;

    transform: translateY(0px);
  }

  @include media-desktop {
    top: 65%;
  }
}

.feature__images {
  display: flex;

  @include media-tablet {
    position: relative;

    width: 100%;
    height: 100%;
  }
}

.feature__image {
  width: 50%;

  & img {
    width: 100%;
  }

  @include media-tablet {
    position: absolute;
  }
}

.feature__image-1 {
  transform: translate(2rem, 3rem);

  @include media-tablet {
    top: 35%;
    height: 19vw;
    width: 55%;

    transform: translate(0px, 0px);
  }
}

.feature__image-2 {
  z-index: 1;

  @include media-tablet {
    top: -5%;
    left: 35%;

    height: 15vw;
    width: 45%;
  }
}

.feature__dots {
  position: absolute;
  top: 1rem;
  left: 40%;
  z-index: -1;

  height: 10vw;
  width: auto;

  @include media-tablet {
    top: 7.5rem;
    left: 12.3rem;

    height: 5vw;
  }

  @include media-desktop {
    top: 40%;
    right: 3rem;
    left: auto;
  }
}
