.service {
  padding-top: 10rem;
  padding-bottom: 4rem;

  text-align: center;
  background-color: $red-light;

  @include media-tablet {
    position: relative;

    padding-bottom: 10rem;
  }

}

.service__title {
  position: relative;
  color: $white;

  transform: scale(1.5);
  opacity: 0;
  transition: transform .4s ease-out, opacity .2s ease-out;

  &._active {
    transform: scale(1);
    opacity: 1;
  }

  &::before {
    content: "";

    position: absolute;
    bottom: -2rem;
    left: 40%;
    z-index: -1;

    height: 6rem;
    width: 6rem;

    background-image: url("~images/service/flower.png");
    background-image: -webkit-image-set(url("~images/service/flower.webp") 1x);
    background-repeat: no-repeat;
    background-size: contain;

    @include media-tablet {
      left: 45%;
    }
  }
}

.service__layers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 5rem;
  margin-bottom: 4rem;

  transform: translate(0px, 200px);
  transition: transform 1s ease-out;

  &._active {
    transform: translate(0px, 0px);
  }

  @include media-tablet {
    flex-direction: row;
  }
}

.layers-service__layer {
  position: relative;

  & span {
    position: absolute;

    @include font($size: 1rem, $height:1, $weight: 600);
    color: $green;
  }
}

.layers-service__layer-1 {
  margin-bottom: -2rem;

  & img {
    height: 60vw;
    width: 50vw;

    @include media-tablet {
      height: 25vw;
      width: 22vw;
    }
  }

  & span {
    bottom: 102%;
    left: 0;

    @include media-tablet {
      bottom: -10%;
    }
  }

  @include media-tablet {
    margin-right: -2rem;
    margin-bottom: 0;
  }
}

.layers-service__layer-2 {
  z-index: -1;

  & img {
    height: 100vw;
    width: 75vw;

    @include media-tablet {
      height: 48vw;
      width: 33vw;
    }
  }

  & span {
    bottom: 50%;
    right: -12%;

    @include media-tablet {
      left: 0;
      bottom: -5%;
      right: auto;
    }
  }

  &::before {
    content: "";

    position: absolute;
    top: -30%;
    right: -10%;
    z-index: -1;

    height: 50vw;
    width: 50vw;

    background-image: url("~images/green-dots-top.png");
    background-image: -webkit-image-set(url("~images/green-dots-top.webp") 1x);
    background-repeat: no-repeat;
    background-size: contain;

    @include media-tablet {
      top: 10%;
      left: -30%;

      height: 13vw;
      width: 13vw;
    }

    @include media-desktop {
      left: -36%;
    }
  }

  &::after {
    content: "";

    position: absolute;
    right: -7%;
    bottom: -5%;
    z-index: -1;

    height: 15vw;
    width: 20vw;

    background-image: url("~images/dots.png");
    background-image: -webkit-image-set(url("~images/dots.webp") 1x);
    background-repeat: no-repeat;
    background-size: contain;

    @include media-tablet {
      top: 55%;
      right: -71%;

      height: 5vw;
      width: 10vw;
    }

    @include media-desktop {
      top: 57%;
      right: -74%;
    }
  }
}

.layers-service__layer-3 {
  margin-top: -2rem;

  & img {
    height: 60vw;
    width: 50vw;

    @include media-tablet {
      height: 25vw;
      width: 22vw;
    }
  }

  & span {
    bottom: 0;
    right: -40%;

    @include media-tablet {
      top: -10%;
      right: 0;
      bottom: auto;
    }
  }

  @include media-tablet {
    margin-top: -15rem;
    margin-left: -2rem;
  }
}

.service__desc {
  position: relative;

  @include media-tablet {
    position: absolute;
    right: 0;
    bottom: 13%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 40%;
  }
}

.service__subtitle {
  position: absolute;
  top: -370%;
  left: 19%;

  display: flex;
  flex-direction: column;

  font-family: $font-family--noe;
  @include font($size: 2.6rem, $height: 1.4);
  text-align: left;
  color: $white;

  & span {
    opacity: 0;
    transform: translate(0px, 300%);
    transition: transform .6s ease-out;
  }

  &._active {
    @for $i from 1 to 3 {
      span:nth-of-type(#{$i}) {
        animation: slideup .5s .01s + $i/8 forwards;
      }
    }
  }

  @include media-tablet {
    position: static;
    margin-bottom: 2rem;
  }
}

.service__link {
  color: $danger;

  &::after {
    background-color: $danger;
  }

  @include media-tablet {
    align-self: auto;
    margin-left: -1rem;
  }
}

@keyframes slideup {
  0% {
    opacity: 0;
    transform: translate(0px, 300%);
  }

  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
