// Colors

$blue: #1d589f;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red-light: #e5dede;
$red: #f95b5b;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #8c9a65;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray-light: #c1c9d0;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #1d589f;
$secondary: #6c757d;
$success: #8c9a65;
$info: #17a2b8;
$warning: #ffc107;
$danger: #f95b5b;
$light: #f8f9fa;
$dark: #343a40;

// Font-family
$font-family--poppins: "Poppins", sans-serif;
$font-family--noe: "Noe Display", sans-serif;

// Variables
$min-width: 300px;
$content-width: 1280px;

// Viewports
$mobile-width: 320px;
$mobile-max-width: 767px;
$tablet-width: 768px;
$tablet-max-width: 1279px;
$desktop-width: 1200px;
$big-desktop-width: 1500px;
